@import "tailwindcss";

@theme {
  --color-surface: #fcf9f4;
  --color-surface-container-low: #f6f3ee;
  --color-surface-container: #f0ede8;
  --color-surface-container-high: #ebe8e3;
  --color-surface-container-highest: #e5e2dd;

  --color-primary: #271310;
  --color-secondary: #526254;
  --color-secondary-container: #d3e4d2;

  --color-on-primary: #ffffff;
  --color-on-surface: #1c1c19;
  --color-on-surface-variant: #504442;
  --color-on-secondary-container: #576758;

  --font-headline: "Noto Serif", serif;
  --font-body: "Be Vietnam Pro", sans-serif;
  --font-label: "Be Vietnam Pro", sans-serif;
}

html,
body,
#root {
  height: 100%;
}

body {
  margin: 0;
}

@layer utilities {
  .paper-grain {
    background-image: url("https://lh3.googleusercontent.com/aida-public/AB6AXuCol8ce8uEzx-HBUElE0KrYzWs2i-Qs2yB7pJVpJ3JVs1h9niu2nexayv0j4mVYT1KAafU01m0TW5WTJIZslKhuFRtG_sfN6TKFQuN36usLsIGHDfNUhiAunNfjMLBCD92OxG3I4sBO40tbC7ZUUT-NKU0Q_ylOd6Cv7oc2zdOh8WMahtmb1xIUa03wDl45mmQpRZDyux7SVTj8BBGf_ScL8htrHj8Hn_3NtqlwzZk0NMc3xFe75EZBapsoQAtysxfUCgGnmpiXrZ8L");
    opacity: 0.03;
  }

  .hero-gradient {
    background: linear-gradient(15deg, #271310 0%, #3e2723 100%);
  }

  .burlap-overlay {
    backdrop-filter: blur(4px);
  }

  .text-vertical {
    writing-mode: vertical-rl;
    text-orientation: mixed;
  }
}
